/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
    --branding-color: #b6b6b7;
    --secondary-color: #eae6e6;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h2 {
    font-size: 62px;
}
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 0;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.content-container {
    padding: 120px 0;
}

/* .content-container h1 {
    font-size: 64px;
    line-height: 80px;
} */
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 20px;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: wheat;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding-outline {
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.project-description {
    padding: 120px 60px;
}
a {
    color: var(--branding-color);
}
a:visited {
    color: var(--branding-color);
}
a:hover {
    color: black;
}
.contact-me {
    text-align: center;
}
.contact {
    border-radius: 4px;
    padding: 30px;
    background-color: #eae6e6;
}

@media (max-width: 960px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    .project-description,
    .content-container {
        padding: 0;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    .content {
        text-align: center;
        padding: 10px;
    }
    .hero h2,
    .content-container h2 {
        font-size: 15px;
    }
    .hero p,
    .content-container p {
        font-size: 14px;
    }
    .btn-branding,
    .btn-branding-outline {
        font-size: 12px;
    }
}
