/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
    --branding-color: #b6b6b7;
    --primary-color: #242424;
    --secondary-color: #eae6e6;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h2 {
    font-size: 62px;
}
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.hero {
    background: radial-gradient(
        circle,
        rgba(255, 243, 210, 1) 10%,
        rgba(255, 255, 255, 1) 100%
    );
    text-align: center;
    padding: 160px 0;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.content-container {
    padding-top: 50px;
}

/* .content-container h1 {
    font-size: 64px;
    line-height: 80px;
} */
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 20px;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding-outline {
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding-outline-header {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
a.btn-branding-outline-header {
    color: var(--primary-color);
}
a.btn-branding-outline-header:visited {
    color: var(--primary-color);
}

.project-description {
    padding: 120px 60px;
}
a {
    color: var(--branding-color);
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

a:visited {
    color: var(--branding-color);
}
a:hover {
    color: black;
}
.contact-me {
    text-align: center;
}
footer .social-link {
    background: #f6f6f6;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 150ms ease-in-out;
}
footer .social-link:hover {
    color: white;
    background-color: var(--branding-color);
}
.contact {
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    padding: 30px;
    background: radial-gradient(
        circle,
        rgba(255, 243, 210, 1) 10%,
        rgba(255, 255, 255, 1) 100%
    );
}
.contact-footer {
    background: radial-gradient(
        circle,
        rgb(251, 247, 236) 10%,
        rgba(255, 255, 255, 1) 100%
    );
}
.about-me {
    margin-bottom: 100px;
}
nav {
    background-color: white;
    padding: 10px 10px;
}
nav li {
    display: inline;
    list-style: none;
    margin-right: 15px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li.active a {
    color: black;
}

div.logo {
    padding: 0 2px;
    border: 2px solid var(--branding-color);
    transition: transform 0.7s ease-in-out;
}
div.logo div {
    transition: transform 0.7s ease-in-out;
}
div.logo:hover {
    transform: rotate(360deg);
}
div.logo:hover div {
    transform: rotate(-360deg);
}
img.picture {
    border-radius: 100px;
    max-width: 40%;
}
footer.email-link:hover {
    color: var(--branding-color);
}

footer .credits,
footer .credits a {
    text-align: center;
    font-size: 10px;
}

.typing-container p {
    font-size: 26px;
}

.typing-container p span.typed-text {
    font-weight: normal;
    color: #bc6f73;
}
.typing-container p span.cursor {
    display: inline-block;
    background-color: var(--secondary-color);
    margin-left: 0.1rem;
    width: 2px;
    line-height: 22px;
    animation: blink 1s infinite;
}
.typing-container p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

@media (max-width: 960px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    .project-description,
    .content-container {
        padding: 0;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    .content {
        text-align: center;
        padding: 10px;
        margin-bottom: 0px;
    }
    .hero h2,
    .content-container h2 {
        font-size: 15px;
    }
    .hero p,
    .content-container p {
        font-size: 14px;
    }
    .btn-branding,
    .btn-branding-outline,
    .btn-branding-outline-header {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
    .contact-footer {
        padding: 10px;
    }
    .about-me {
        margin-bottom: 10px;
    }
    footer .credits,
    footer .credits a {
        text-align: center;
        font-size: 8px;
    }
    .typing-container p {
        font-size: 18px;
    }
}
